<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lab.zlren.sell.mapper.OrderMasterMapper" >
  <resultMap id="BaseResultMap" type="lab.zlren.sell.pojo.OrderMaster" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="buyer_name" property="buyerName" jdbcType="VARCHAR" />
    <result column="buyer_phone" property="buyerPhone" jdbcType="VARCHAR" />
    <result column="buyer_address" property="buyerAddress" jdbcType="VARCHAR" />
    <result column="buyer_openid" property="buyerOpenid" jdbcType="VARCHAR" />
    <result column="order_amount" property="orderAmount" jdbcType="DECIMAL" />
    <result column="order_status" property="orderStatus" jdbcType="TINYINT" />
    <result column="pay_status" property="payStatus" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>